* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Verdana, Tahoma, sans-serif;
    background-color: #ff9900
}

img {
    width: 50vw;
    height: auto;
    border-radius: 10px;
    display: block;
    margin: 40px auto;
}

h1,
h2 {
    text-align: center;
    font-size: 40px;
    margin: 20px 0;
}

.description,
.steps,
.recipe-list {
    border-radius: 15px;
    padding: 10px 10px 10px 50px;
    margin: 30px;
}

.description {
    background-color: lightslategray;
    font-size: 30px;
}

.steps {
    background-color: rgb(25, 65, 126);
    color: aliceblue;
    font-size: 20px;
}

a,
.back {
    color: black;
}

.back {
    background-color: aquamarine;
    border-radius: 5px;
    padding: 5px;
    margin: 20px auto;
    width: 140px;
    display: block;
    font-size: 30px;
}

.recipe-list {
    width: 50%;
    margin: 59px auto;
    background-color: rgb(0, 161, 35);
    text-align: center;
    font-size: 30px;
    padding: 20px 40px;
}

li {
    margin: 20px;
}